name: CI Checks

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 18.17
      - run: corepack enable && yarn --version
        working-directory: ./skeleton
      - name: Run CI checks
        working-directory: ./skeleton
        run: yarn cichecks
  # TODO https://github.com/backstage/backstage/issues/13668
  # run templating over this repo to make sure all templates are valid
